In [1]:
age=32

In [2]:
print("My age is :",age)

My age is : 32

In [3]:
print(f"my age is:{age}")

my age is:32

In [5]:
print(type(age))

<class 'int'>

In [6]:
name="ganesh"
age=22

In [8]:
print(f"my name is {name} and my age is {age}")

my name is ganesh and my age is 22

In [9]:
print("my name is {} and my age is {}".format(name,age))

my name is ganesh and my age is 22

In [10]:
name="Ganesh"
degree="BE"
age=22
college="GNDECB"
city="Bidar"

In [11]:
print(f"my name is {name} i am from {city} i have done {degree} from {college}, my age is {age}")

my name is Ganesh i am from Bidar i have done BE from GNDECB, my age is 22

DECISION MAKING STATEMENTS

1.if

2.if else

3.if elif else

4.nested if

5.single statement suites

In [13]:
#if statemetns
age =18
if age >=18:
    print("yor are eligible to vote")

yor are eligible to vote

In [14]:
input()

 Gani

'Gani'

In [19]:
type(input())

 1

str

In [20]:
name=input("enter the name")

enter the name Ganesh

In [21]:
print(name)

Ganesh

In [24]:
a=int(input("enter the number"))

enter the number 2

In [29]:
if a ==2:
    print("equal")

equal

In [30]:
age=int(input("enter your age"))
if age>=18 and age<=45:
    print("you are young")

enter your age 19

you are young

In [31]:
age=int(input("enter your age"))
if age>=18 and age<=45:
    print("you are young")

enter your age 90

In [1]:
1/False

ZeroDivisionError: division by zero

In [2]:
num1= 23

num2= 44

num2= 2+3j

num1= num2.imag

num2-num1

(-1+3j)

if else

In [10]:
age = int(input("enter your age"))
if age>=18 and age<=45:
    print("you are young")
else:
        print("yor are old now")

enter your age 25

you are young

In [11]:
a=int(input("type a number"))
if a%2==0 :
    print("even number")
else:
    print("odd number")

type a number 100

even number

In [12]:
a

100

In [13]:
product_price=int(input("enter price"))

enter price 10000

In [14]:
product_price

10000

In [17]:
if product_price>1000:
    print("the price of the product is{}".format(product_price*0.8))
else:
        print("the price of product is{}".format(product_price*0.5))

the price of the product is8000.0

In [19]:
product_price=int(input("enter price"))
if product_price>1000:
    print("the price of the product is{}".format(product_price*0.8))
else:
        print("the price of product is{}".format(product_price*0.5))

enter price 4000

the price of the product is3200.0

if elif else

In [24]:
number = int(input("enter a number"))
if number >0:
    print("positive value")
elif number == 0:
    print("equal to zero")
else:
    print("negative value")

enter a number -55

negative value

In [3]:
product_price=int(input("Enter the price"))
if product_price>3000:
    if product_price==4000:
        print("Congratulations you get a Goa Trip")
    print(f"The price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("Congratulations you get an additional gift")
    print(f"The price of the product is {product_price*0.7}")
elif product_price>=100 and product_price<2000:
    print(f"The price of the product is {product_price*0.6}")
else:
    print("Lets drink tea")
    print("I will also be there")

Enter the price 2999

Congratulations you get an additional gift
The price of the product is 2099.2999999999997

In [6]:
#comparision operators
True==True

True

In [12]:
## Single statement Suites
val=int(input('Enter the number'))
if val<=999 :print("Value is less than equal to 999")
else:
    print("Go Home")

Enter the number 555

Value is less than equal to 999

In [13]:
age = int(input("enter your age"))
if age >=18: print("you are eligible for vote")
else:
    print("you are not eligible")

enter your age 90

you are eligible for vote

In [15]:
#1. while loop
joining_age=25
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)
else:
    print("its time to retire")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
its time to retire

## LOOPS Statements
1. while loop
2. for loop
3. nested loop
4. loop control(break, continue, pass)

### 4.2.1 While Loop
   * It repeats a statement or multiple statements when a provided condition is `True`.
   * Before performing a loop body it check for a condition

In [17]:
money =1000
while money!=0:
    print(money)
    money =money-100
else:
    print("put money")

1000
900
800
700
600
500
400
300
200
100
put money

In [19]:
''' A child is learning to count number of 10 rupess in his hand 
and here we have given 5 notes of 10 rupess. 
Output will display the counting of notes and total amount'''

notes = 5
i=1 # starting number intialize
while i<=notes:
    print(i)
    i += 1
print('Total Money: ',notes*10,'Rupees')

1
2
3
4
5
Total Money:  50 Rupees

## For loop
`for` loop statement is used to iterates over an item at any order, items can be a `string` or a `list`.

In [22]:
#list
lst=["Monkey","donkey","dog"]

In [21]:
lst

['Monkey', 'donkey', 'dog']

In [24]:
type(lst)

list

In [25]:
for i in lst:
    print(i)

Monkey
donkey
dog

In [26]:
lst1=[1,2,3,4,5,"ganesh","agre"]
for x in lst1:
    print(x)

1
2
3
4
5
ganesh
agre

In [27]:
lst[0]

'Monkey'

In [29]:
# sth index of lst1
lst1[5]

'ganesh'

In [33]:
fruit_list=["mango","cherry","banana","apple"]
for a in fruit_list:
    print(a)
    if a =="cherry":
         print("fruit is cherry")

mango
cherry
fruit is cherry
banana
apple

In [34]:
fruit="mango"
for x in fruit:
    print(x)

m
a
n
g
o

In [35]:
#string is also an collection of element
fruit[0]

'm'

## nested loops
* Nested loops is used to create one and more number of loop inside an existing `for` or `while` loop.

In [37]:
n=7

In [41]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [42]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [43]:
for i in range(1,50,10):
    print(i)

1
11
21
31
41

In [52]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*", end="")
    print("\r")

*
**
***
****
*****
******
*******

In [57]:
n=8
for i in range(0,n):
    for j in range(0,i):
        print("*", end=" ")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [58]:
fruit_list

['mango', 'cherry', 'banana', 'apple']

In [71]:
for i in fruit_list:
    if i =="apple":
        print("its apple")
        break
    print(i)

mango
cherry
banana
its apple

In [72]:
collect=["pen","paper","pencil","book"]
for i in collect:
    if i=="pencil":
        print("you got pencil")
        pass
    print(i)

pen
paper
you got pencil
pencil
book

In [73]:
collect=["pen","paper","pencil","book"]
for i in collect:
    if i=="pencil":
        print("you got pencil")
        continue
    print(i)

pen
paper
you got pencil
book